<h1>Agregar Actividad</h1>
<form method="POST">
    Capacitación:
    <select name="id_capacitacion">
        {% for cap in capacitaciones %}
            <option value="{{ cap.id_capacitacion }}">{{ cap.nombre }}</option>
        {% endfor %}
    </select><br>
    Nombre de la Actividad: <input type="text" name="nombre_actividad" required><br>
    Fecha: <input type="date" name="fecha" required><br>
    Hora: <input type="time" name="hora" required><br>
    Tipo de Evaluación:
    <select name="tipo_evaluacion">
        <option value="Cumplimiento">Cumplimiento</option>
        <option value="Nota">Nota</option>
    </select><br>
    Escala:
    <select name="escala">
        <option value="Dicotómica">Dicotómica</option>
        <option value="Vigesimal">Vigesimal</option>
    </select><br>
    <button type="submit">Guardar</button>
</form>
